@model SortexAdminV._1.ViewModels.TrendImagesUploadViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Lägg till Bilder</h1>
<form asp-action="Create" asp-controller="TrendImages" method="post" enctype="multipart/form-data">
    @for (int i = 0; i < @ViewBag.NumberOfImages; i++)
    {
        <div class="form-group">
            <input type="file" name="files" id="@i.ToString();" />
        </div>
        <p class="line"></p>
    }
    <input type="hidden" value="@ViewBag.TrendId" asp-for="TrendId" />
    <div class="form-group">
        <input type="submit" value="Lägg till" class="btn btn-primary" />
        <a class="btn btn-primary" asp-action="Index" asp-controller="Trends" >Tillbaka</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
