@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sortex</h1>
    <p>Always blue</p>
</div>

<div class="container">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/icons/ordericon.png" alt="OrderIcon">
        <div class="card-body border-light">
            <h5 class="card-title">ORDER</h5>
            <p class="card-text">Hantera ordrar</p>
            <a class="btn btn-primary" asp-controller="Orders" asp-action="Index">Order</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/icons/brandicon.png" alt="BrandIcon">
        <div class="card-body border-light">
            <h5 class="card-title">MÄRKEN</h5>
            <p class="card-text">Hantera märken.</p>
            <a class="btn btn-primary" asp-controller="Brands" asp-action="Index">Märken</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/icons/trendicon.png" alt="TrendIcon">
        <div class="card-body border-light">
            <h5 class="card-title">TRENDER</h5>
            <p class="card-text">Hantera trender.</p>
            <a class="btn btn-primary" asp-controller="Trends" asp-action="Index">Trender</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/icons/modeboardicon.png" alt="ModeboardIcon">
        <div class="card-body border-light">
            <h5 class="card-title">MODEBOARD</h5>
            <p class="card-text">Hantera modeboard.</p>
            <a class="btn btn-primary" asp-controller="Modeboards" asp-action="Index">Modeboard</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/icons/assignmenticon.png" alt="AssignmentIcon">
        <div class="card-body border-light">
            <h5 class="card-title">ARBETSUPPGIFTER</h5>
            <p class="card-text">Hantera arbetsuppgifter.</p>
            <a  class="btn btn-primary" asp-controller="Assignments" asp-action="Index">Arbetsuppgifter</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/icons/fractionicon.png" alt="FractionIcon">
        <div class="card-body border-light">
            <h5 class="card-title">FRAKTIONER</h5>
            <p class="card-text">Hantera fraktioner.</p>
            <a class="btn btn-primary" asp-controller="Fractions" asp-action="Index">Fraktioner</a>
        </div>
    </div>
</div>
