@model List<SortexAdminV._1.Models.Tag>

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Välj vilka taggar du vill radera</h3>
<div>
    <form asp-action="Delete">
        @foreach (var tag in Model)
        {
            <div class="form-group">
                <input type="checkbox" id="@tag.Id" name="selectedTags" value="@tag.Id" />
                <label for="@tag.Id">@tag.Value</label>
            </div>
        }
        <div class="form-group">
            <input type="submit" value="Radera" class="btn btn-danger" />
        </div>
    </form>
    <a asp-action="Index" asp-controller="Brands">Tillbaka</a>
</div>
