@model SortexAdminV._1.Models.Fraction

@{
    ViewData["Title"] = "Delete";
}

<h1>Radera @Model.Name</h1>
<h3>Är du säker på att du vill radera fraktionen @Model.Name?</h3>
<div class="card">
    <h4 class="card-header">@Model.Name</h4>
    <div class="card-body">
        <h4 class="card-title">Datum </h4>
        <h4 class="card-title">Beskrivning</h4>
        <h6 class="card-text">@Model.Description</h6>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Radera" class="btn btn-danger" /> |
            <a class="btn btn-primary" asp-action="Index">Tillbaka</a>
        </form>
    </div>
</div>
