@model SortexAdminV._1.Models.Fraction

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljer</h1>
<div class="card">
    <h4 class="card-header">@Model.Name</h4>
    <div class="card-body">
        <h4 class="card-title">Datum </h4>
        <h4 class="card-title">Beskrivning</h4>
        <h6 class="card-text">@Model.Description</h6>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Ändra</a> |
        <a class="btn btn-primary" asp-action="Index">Tillbaka</a>
    </div>
</div>
