@model SortexAdminV._1.ViewModels.TrendViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljer</h1>

<div>
    <h4>Trend</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Säsong
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Season)
        </dd>
        <dt class="col-sm-2">
            Beskrivning
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Bild
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrendImages)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Ändra</a>
    <a asp-action="Index">Tillbaka</a>
</div>
